body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 8px 16px;
}

button:hover {
  background-color: pink;
  color: red;
  cursor: pointer;
}

li {
  margin-right: 8px;
}

.input-area {
  background-color: #2fc9c9;
  width: 400px;
  height: 30px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.imcomplete-area {
  background-color: #c6ffe2;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  height: 30px;
}

.complete-area {
  background-color: #ffffe0;
  min-height: 200px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  color: #4b4b4b;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
